* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #f2f2f2;
  z-index: 999;
  padding: 15px;
  position: fixed;
}
.nav__container .link__wrapper .link__wrap {
  line-height: 100px;
  z-index: 999;
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), royalblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  line-height: 120px;
  padding-bottom: 20px;
}
.nav__container .link__wrapper .openNav {
  font-size: 30px;
  font-weight: 600;
}
.nav__container .link__wrapper .link__image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.nav__container .link__wrapper .link__image img {
  width: 200px;
}
.nav__container .link__wrapper .closeNav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  margin-right: 10px;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: bold;
}
.nav__container .link__wrapper ul {
  padding-left: 20px;
}
.nav__container .link__wrapper ul a {
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}
.nav__container .link__wrapper .link__icons {
  display: flex;
  justify-content: space-around;
}
.nav__container .nav__image__logo h2 {
  font-size: 15px;
  margin-top: -8px;
}

.background__image {
  background: url(./../CRAGO/plane_contrasted_light.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: grid;
  text-align: justify;
}
.background__image .background__text__wrapper {
  display: grid;
  justify-content: center;
  text-align: justify;
  align-items: center;
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
}
.background__image h1 {
  border-bottom: 5px solid royalblue;
  margin-right: 30px;
  padding: 5px;
}
.background__image p {
  font-size: 12px;
  line-height: 30px;
  margin-right: 30px;
  word-spacing: 1px;
}
.background__image button {
  width: 150px;
  padding: 10px;
  font-weight: bold;
}

.companyInfo {
  display: grid;
  padding-left: 30px;
  padding-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), royalblue;
  color: #f3f3f3;
}
.companyInfo .company__details {
  display: flex;
}
.companyInfo .company__details div:nth-child(2) {
  margin-left: 15px;
  margin-bottom: 40px;
  line-height: 25px;
}
.companyInfo .company__details div:nth-child(1) i {
  font-size: 30px;
}

.service__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f2f2f2;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.service__wrapper .service-text-holder p {
  color: royalblue;
  margin-top: 20px;
}
.service__wrapper .service-text-holder h2 {
  font-size: 20px;
  font-weight: 600;
}
.service__wrapper .service-text-holder .truck-green {
  display: none;
}
.service__wrapper .service-box1 {
  width: 96%;
  border: 1px solid lightgrey;
  background: #fff;
  display: flex;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 5px;
  padding-right: 5px;
}
.service__wrapper .service-box1 div:nth-child(2) {
  text-align: justify;
  margin-left: 10px;
  line-height: 25px;
}
.service__wrapper .service-box1 div:nth-child(2) h4 {
  color: royalblue;
  font-size: 19px;
}
.service__wrapper i {
  font-size: 30px;
  margin-right: 100px;
  color: rgb(31, 82, 233);
}
.service__wrapper .service-box2 {
  width: 96%;
  border: 1px solid lightgrey;
  background: #fff;
  display: flex;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}
.service__wrapper .service-box2 div:nth-child(2) {
  text-align: justify;
  margin-left: 10px;
  line-height: 25px;
}
.service__wrapper .service-box2 div:nth-child(2) h4 {
  color: royalblue;
  font-size: 19px;
}
.service__wrapper i {
  font-size: 30px;
  margin-right: 100px;
  color: rgb(31, 82, 233);
}
.service__wrapper .service-box3 {
  width: 96%;
  border: 1px solid lightgrey;
  background: #fff;
  display: flex;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 5px;
  padding-right: 5px;
}
.service__wrapper .service-box3 div:nth-child(2) {
  text-align: justify;
  margin-left: 10px;
  line-height: 25px;
}
.service__wrapper .service-box3 div:nth-child(2) h4 {
  color: royalblue;
  font-size: 19px;
}
.service__wrapper i {
  font-size: 30px;
  margin-right: 100px;
  color: rgb(31, 82, 233);
}
.service__wrapper .service-box4 {
  width: 96%;
  border: 1px solid lightgrey;
  background: #fff;
  display: flex;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 5px;
  padding-right: 5px;
}
.service__wrapper .service-box4 div:nth-child(2) {
  text-align: justify;
  margin-left: 10px;
  line-height: 25px;
}
.service__wrapper .service-box4 div:nth-child(2) h4 {
  color: royalblue;
  font-size: 19px;
}
.service__wrapper i {
  font-size: 30px;
  margin-right: 100px;
  color: rgb(31, 82, 233);
}

.client__comment {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../CRAGO/wraehouse2.jpg);
  height: 100vh;
  display: grid;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}
.client__comment .client__container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.client__comment .client__container div:nth-child(1) h4 {
  color: #fff;
  margin-bottom: 10px;
}
.client__comment .client__container div:nth-child(1) h2 {
  font-size: 20px;
  color: #f2f2f2;
  margin-bottom: 40px;
}
.client__comment .client__container div:nth-child(2) {
  border: 1px solid rgba(0, 0, 0, 0.9);
  width: 93.5%;
  margin-left: 11px;
  padding-top: 10px;
  padding-bottom: 50px;
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}
.client__comment .client__container div:nth-child(2) img {
  width: 70px;
  border-radius: 50%;
  height: 90px;
  -o-object-fit: center;
     object-fit: center;
  -o-object-position: center;
     object-position: center;
}
.client__comment .client__container div:nth-child(3) {
  border: 1px solid rgba(0, 0, 0, 0.9);
  width: 93.5%;
  margin-left: 11px;
  padding-top: 10px;
  padding-bottom: 50px;
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.7);
}
.client__comment .client__container div:nth-child(3) img {
  width: 70px;
  border-radius: 50%;
  height: 90px;
  -o-object-fit: center;
     object-fit: center;
  -o-object-position: center;
     object-position: center;
}

.core__values div:nth-child(1) {
  text-align: right;
  padding: 20px;
}
.core__values div:nth-child(1) h3 {
  font-size: 25px;
}
.core__values div:nth-child(1) p {
  color: royalblue;
}
.core__values div:nth-child(2) {
  padding: 10px;
  display: flex;
}
.core__values div:nth-child(2) i {
  margin-left: 10px;
  font-size: 35px;
  padding-right: 25px;
}
.core__values div:nth-child(2) p {
  font-size: 22px;
  margin-left: 15px;
}
.core__values div:nth-child(3) img {
  width: 90%;
  margin-top: 30px;
}

.count__numbers {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
.count__numbers div h1 {
  font-size: 60px;
  color: royalblue;
  margin-bottom: 10px;
}
.count__numbers div h3 {
  margin-bottom: 10px;
}

.whatDo {
  background: #f2f2f2;
  width: 100%;
  padding: 30px 15px;
}
.whatDo div {
  display: grid;
  justify-content: center;
  align-items: center;
}
.whatDo div img {
  width: 100%;
}
.whatDo div p {
  text-align: justify;
  padding: 20px;
}
.whatDo div h3 {
  font-size: 25px;
  color: royalblue;
  padding: 10px 20px;
}
.whatDo div:nth-child(1) {
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px #333;
}
.whatDo div:nth-child(2) {
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px #fff;
}
.whatDo div:nth-child(3) {
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px #333;
}

.what__heading {
  background: #f2f2f2;
  padding-top: 20px;
}
.what__heading h3 {
  text-align: right;
  padding: 10px;
  font-size: 30px;
}
.what__heading p {
  color: royalblue;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  font-size: 15px;
}

iframe {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: invert(100%);
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), royalblue;
}
.footer .footer__wrapper .cpy-name {
  display: flex;
  padding: 20px 10px;
}
.footer .footer__wrapper .cpy-name h3 {
  margin-left: 10px;
  color: lightgrey;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}
.footer .footer__wrapper .cpy-name img {
  width: 200px;
  border-radius: 10px;
}
.footer .footer__wrapper .footer__nav {
  line-height: 60px;
}
.footer .footer__wrapper .footer__nav h3 {
  color: royalblue;
  padding-left: 10px;
  font-size: 27px;
  text-shadow: 1px 1px 1px lightgrey;
}
.footer .footer__wrapper .footer__nav div {
  padding-left: 10px;
  color: #fff;
}
.footer .footer__wrapper .footer__nav div a {
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.footer .footer__wrapper .about__nav {
  line-height: 60px;
}
.footer .footer__wrapper .about__nav h3 {
  color: royalblue;
  padding-left: 10px;
  font-size: 27px;
  text-shadow: 1px 1px 1px lightgrey;
}
.footer .footer__wrapper .about__nav div {
  padding-left: 10px;
  color: #fff;
}
.footer .footer__wrapper .about__nav div a {
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.footer .footer__wrapper .follow__nav {
  display: grid;
  place-items: center;
  color: #f2f2f2;
}
.footer .footer__wrapper .follow__nav h3 {
  padding-bottom: 10px;
  font-size: 20px;
}
.footer .footer__wrapper .follow__nav div i {
  margin-left: 10px;
}
.footer .copyright-footer p {
  padding-bottom: 20px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.headngCount {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.headngCount h2 {
  font-size: 20px;
  font-weight: bold;
}
.headngCount p {
  font-size: 13px;
  color: royalblue;
  font-weight: bold;
}

@media screen and (min-width: 40em) {
  .nav__container .link__wrapper .openNav {
    cursor: pointer;
  }
  .nav__container .link__wrapper .link__wrap {
    width: 30%;
  }
  .nav__container .link__wrapper .link__wrap .closeNav {
    cursor: pointer;
  }
  .companyInfo {
    display: flex;
    justify-content: space-around;
  }
  .background__text__wrapper {
    font-size: 30px;
  }
  .background__text__wrapper p {
    font-size: 20px;
    line-height: 35px;
  }
  .background__text__wrapper .background__btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  .service__wrapper {
    display: flex;
    padding-top: 50px;
  }
  .service__wrapper .service__first__box {
    display: flex;
  }
  .service__wrapper .service__second__box {
    display: flex;
  }
  .service-box .service-box1 {
    width: 50%;
    border: 1px solid lightgrey;
    background: #fff;
    display: flex;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .service-box .service-box1 div:nth-child(2) {
    text-align: justify;
    margin-left: 10px;
    line-height: 25px;
  }
  .service-box .service-box1 div:nth-child(2) h4 {
    color: royalblue;
    font-size: 19px;
  }
  .service-box i {
    font-size: 30px;
    margin-right: 100px;
    color: rgb(31, 82, 233);
  }
  .service-box .service-box2 {
    width: 50%;
    border: 1px solid lightgrey;
    background: #fff;
    display: flex;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
  .service-box .service-box2 div:nth-child(2) {
    text-align: justify;
    margin-left: 10px;
    line-height: 25px;
  }
  .service-box .service-box2 div:nth-child(2) h4 {
    color: royalblue;
    font-size: 19px;
  }
  .service-box i {
    font-size: 30px;
    margin-right: 100px;
    color: rgb(31, 82, 233);
  }
  .service-box .service-box3 {
    width: 50%;
    border: 1px solid lightgrey;
    background: #fff;
    display: flex;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .service-box .service-box3 div:nth-child(2) {
    text-align: justify;
    margin-left: 10px;
    line-height: 25px;
  }
  .service-box .service-box3 div:nth-child(2) h4 {
    color: royalblue;
    font-size: 19px;
  }
  .service-box i {
    font-size: 30px;
    margin-right: 100px;
    color: rgb(31, 82, 233);
  }
  .service-box .service-box4 {
    width: 50%;
    border: 1px solid lightgrey;
    background: #fff;
    display: flex;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .service-box .service-box4 div:nth-child(2) {
    text-align: justify;
    margin-left: 10px;
    line-height: 25px;
  }
  .service-box .service-box4 div:nth-child(2) h4 {
    color: royalblue;
    font-size: 19px;
  }
  .service-box i {
    font-size: 30px;
    margin-right: 100px;
    color: rgb(31, 82, 233);
  }
  .service-text-holder {
    width: 45rem;
    text-align: justify;
    margin-top: -330px;
    padding: 10px;
  }
  .client__comment {
    padding: 10px;
  }
  .client__comment .client__container {
    display: flex;
    justify-content: space-around;
  }
  .client__comment .client__container div:nth-child(2) {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .client__comment .client__container div:nth-child(2) p {
    text-align: justify;
    margin-top: 10px;
  }
  .client__comment .client__container div:nth-child(3) {
    width: 50%;
    margin-top: -15px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .client__comment .client__container div:nth-child(3) p {
    text-align: justify;
    margin-top: 10px;
  }
  .core__values {
    display: flex;
    padding-top: 20px;
  }
  .core__values div:nth-child(1) {
    width: 385px;
  }
  .core__values div:nth-child(1) h3 {
    font-size: 30px;
  }
  .core__values div:nth-child(2) {
    width: 600px;
    word-spacing: 10px;
  }
  .core__values div:nth-child(2) p {
    font-size: 20px;
  }
  .core__values div:nth-child(3) img {
    width: 80%;
    margin-top: -10px;
  }
  .count__numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding: 15px 90px;
  }
  .count__numbers .nums {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .count__numbers .nums p {
    font-size: 17px;
    text-align: justify;
  }
  .count__numbers .nums .num {
    margin-right: 50px;
  }
  .count__numbers .nums h3 {
    color: royalblue;
  }
  .whatDo {
    display: flex;
    justify-content: space-around;
  }
  .whatDo div {
    margin-left: 20px;
    background: red;
  }
  .what__heading {
    padding: 30px;
  }
  .what__heading h3 {
    font-size: 50px;
  }
  iframe {
    width: 100%;
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    filter: invert(100%);
    margin: 0;
    padding: 0;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__wrapper .cpy-name img {
    width: 100px;
    height: 80px;
  }
}
@media screen and (min-width: 70em) {
  .nav__container .link__wrapper .openNav {
    cursor: pointer;
  }
  .nav__container .link__wrapper .link__wrap {
    width: 22%;
    line-height: 110px;
  }
  .nav__container .link__wrapper .link__wrap .closeNav {
    cursor: pointer;
  }
  .nav__container .link__wrapper .link__wrap .link__icons {
    display: flex;
    justify-content: space-around;
  }
  .nav__container .nav__image__logo {
    display: flex;
    padding-top: 10px;
  }
  .nav__container .nav__image__logo h2 {
    font-size: 30px;
  }
  .nav__container .nav__image__logo img {
    margin-top: -7px;
    width: 180px;
    margin-right: 20px;
  }
  .background__image .background__text__wrapper {
    width: 60rem;
  }
  .background__image .background__text__wrapper h1 {
    font-size: 70px;
  }
  .background__image .background__text__wrapper p {
    font-size: 15px;
  }
  .background__image .background__text__wrapper .background__btn button {
    width: 200px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  .service__wrapper .service-box .service__first__box {
    width: 50rem;
  }
  .service__wrapper .service-box .service__second__box {
    width: 50rem;
  }
  .service__wrapper .service-text-holder {
    width: 400px;
    margin-right: 30px;
    margin-top: -30px;
  }
  .service__wrapper .service-text-holder p {
    text-align: right;
  }
  .service__wrapper .service-text-holder h2 {
    font-size: 45px;
    text-align: right;
    margin-bottom: 100px;
  }
  .service__wrapper .service-text-holder div:nth-child(2) img {
    display: block;
    width: 300px;
  }
  .client__comment {
    height: 60vh;
  }
  .client__comment .client__container div:nth-child(2) {
    width: 350px;
    padding-bottom: 100px;
    box-shadow: 1px 1px 1px lightgrey;
  }
  .client__comment .client__container div:nth-child(2) .client__names {
    text-align: right;
    color: grey;
  }
  .client__comment .client__container div:nth-child(3) {
    width: 350px;
    padding-bottom: 100px;
    box-shadow: 1px 1px 1px lightgrey;
  }
  .client__comment .client__container .first__client {
    width: 400px;
  }
  .client__comment .client__container .first__client h2 {
    font-size: 150px;
    color: green;
  }
  .client__comment .client__container .first__client h4 {
    font-size: 40px;
    color: green;
  }
  .core__values {
    padding-top: 40px;
    padding-left: 100px;
  }
  .core__values div:nth-child(2) {
    width: 450px;
  }
  .core__values div:nth-child(3) img {
    width: 300px;
    position: relative;
  }
  .count__numbers {
    display: flex;
  }
  .whatDo {
    padding: 40px 200px;
  }
  .what__heading {
    padding-left: 200px;
    padding-top: 40px;
  }
  .what__heading h3 {
    text-align: left;
  }
  .what__heading p {
    text-align: left;
  }
  .footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), royalblue;
  }
  .footer .footer__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer .footer__wrapper .cpy-name img {
    width: 100px;
  }
  .headngCount {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .headngCount h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .headngCount p {
    font-size: 15px;
    color: royalblue;
    font-weight: bold;
  }
  .info-cart {
    display: flex;
  }
  .info-cart p {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */